<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--<head th:include="include :: header">-->
<head>
    <meta charset='utf-8'/>
    <link th:href='@{/ajax/libs/fullcalendar/fullcalendar.min.css}' rel='stylesheet'/>
    <link th:href='@{/css/bootstrap.min.css}' rel='stylesheet'/>
    <link th:href='@{/ajax/libs/select/select2.css}' rel='stylesheet'/>
    <link th:href='@{/ajax/libs/fullcalendar/fullcalendar.print.min.css}' rel='stylesheet'
          media='print'/>
    <script th:src='@{/ajax/libs/fullcalendar/lib/moment.min.js}'></script>
    <script th:src='@{/ajax/libs/fullcalendar/lib/jquery.min.js}'></script>
    <script th:src='@{/ajax/libs/fullcalendar/fullcalendar.min.js}'></script>
    <script th:src='@{/ajax/libs/fullcalendar/locale-all.js}'></script>

    <script th:src='@{/ajax/libs/layer/layer.min.js}'></script>
    <script th:src="@{/ruoyi/js/ry-ui.js}"></script>
    <script th:src="@{/ajax/libs/select/select2.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
            var str = [[${list}]];
            var ctx = [[@{/}]];
            var timeStr = '[[${timeStr}]]';
            var events = [];
            str.forEach(function (value, i) {
                events.push({
                    title: value.course + '\r\n\r   ' + value.grade,
                    borderColor: value.borderColor,
                    textColor: value.textColor,
                    backgroundColor: value.backgroundColor,
                    start: value.start,
                    end: value.end,
                    id: value.id,
                    status: value.status
                });
            });
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listWeek'
                },
                //defaultDate: timeStr,
                locale: 'zh-cn',
                timeFormat: 'H:mm',
                axisFormat: 'H:mm',
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectHelper: true,
                select: function (date, start, end) {
                    var dateTime = date.format();
                    //iframe窗
                    $.modal.open("添加课程", ctx +"module/courseArrangement/add?time=" + dateTime);
                    /*layer.open({
                        type: 1,
                        title: '课程安排',
                        shadeClose: true,
                        maxmin: true, //开启最大化最小化按钮
                        area: ['450px', '450px'],
                        shade: 0.4,   //遮罩透明度
                        content: $("#box1"),
                        btn: ['<i class="fa fa-check"></i> 确认', '<i class="fa fa-close"></i> 关闭'],
                        scrollbar: true,//屏蔽浏览器滚动条
                        yes: function (index) {    //点击确定回调
                            layer.msg('yes');
                            layer.close(index);
                            showToast();
                            var title = prompt('Event Title:');
                            var eventData;
                            if (title) {
                                eventData = {
                                    title: title,
                                    start: start,
                                    end: end
                                };
                                $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                            }
                            $('#calendar').fullCalendar('unselect');
                        },
                        btn2: function () {//layer.alert('aaa',{title:'msg title'});  ////点击取消回调
                            layer.msg('bbb');//layer.closeAll();
                        }
                    });*/
                },
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: events,
                eventResize: function (event, delta, revertFunc) {
                    var color = event.textColor;
                    if (color == '#000000') {
                        layer.alert("已上课和已关闭的班级课次不能被拖动修改！", {
                            skin: 'layui-layer-red',
                            closeBtn: 0, icon: 2
                        });
                        revertFunc(); //恢复原状
                        return;
                    }
                    var id = event.id;
                    var startTime = event.start - 8 * 60 * 60 * 1000;
                    var endTime = event.end - 8 * 60 * 60 * 1000;
                    startTime = timestampToTime(startTime);
                    endTime = timestampToTime(endTime);
                    layer.confirm("确定拖动该数据吗？", {
                        icon: 3,
                        title: "系统提示",
                        btn: ['确认', '取消'],
                        btnclass: ['btn btn-primary', 'btn btn-danger'],
                        cancel: function (index, layero) {
                            //取消操作，点击右上角的X
                            layer.close(index);
                            revertFunc(); //恢复原状
                        }
                    }, function (index) {
                        layer.close(index);
                        $.ajax({
                            url: 'courseArrangement/edit',
                            data: {
                                courseArrangementId: id,
                                startTime: startTime,
                                endTime: endTime
                            },
                            dataType: 'json',
                            type: 'post',
                            success: function (result) {
                                if (result.code == web_status.SUCCESS) {
                                    $.modal.alertMsg("保存成功,正在刷新数据请稍后……", modal_status.SUCCESS);
                                    $('#calendar').fullCalendar('refetchEvents');
                                } else {
                                    $.modal.alertError(result.msg);
                                }
                            }
                        })
                    }, function (index) {
                        layer.close(index);
                        revertFunc(); //恢复原状
                    });
                },
                eventDrop: function (event, dayDelta, revertFunc) {
                    var color = event.textColor;
                    if (color == '#000000') {
                        layer.alert("已上课和已关闭的班级课次不能被拖动修改！", {
                            skin: 'layui-layer-red',
                            closeBtn: 0, icon: 2
                        });
                        revertFunc(); //恢复原状
                        return;
                    }
                    var id = event.id;
                    var startTime = event.start - 8 * 60 * 60 * 1000;
                    var endTime = event.end - 8 * 60 * 60 * 1000;
                    startTime = timestampToTime(startTime);
                    endTime = timestampToTime(endTime);
                    layer.confirm("确定移动该数据吗？", {
                        icon: 3,
                        title: "系统提示",
                        btn: ['确认', '取消'],
                        btnclass: ['btn btn-primary', 'btn btn-danger'],
                        cancel: function (index, layero) {
                            //取消操作，点击右上角的X
                            layer.close(index);
                            revertFunc(); //恢复原状
                        }
                    }, function (index) {
                        layer.close(index);
                        $.ajax({
                            url: 'courseArrangement/edit',
                            data: {
                                courseArrangementId: id,
                                startTime: startTime,
                                endTime: endTime
                            },
                            dataType: 'json',
                            type: 'post',
                            success: function (result) {
                                if (result.code == web_status.SUCCESS) {
                                    $.modal.alertMsg("保存成功,正在刷新数据请稍后……", modal_status.SUCCESS);
                                    $('#calendar').fullCalendar('refetchEvents');
                                } else {
                                    $.modal.alertError(result.msg);
                                }
                            }
                        })
                    }, function (index) {
                        layer.close(index);
                        revertFunc(); //恢复原状
                    });
                },
                eventClick : function( event ){
                    var color = event.textColor;
                    if (color == '#000000') {
                        layer.alert("已上课和已关闭的班级课次不能被拖动修改！", {
                            skin: 'layui-layer-red',
                            closeBtn: 0, icon: 2
                        });
                        revertFunc(); //恢复原状
                        return;
                    }
                    var courseArrangementId = event.id;
                    $.modal.open("修改课程", ctx + "module/courseArrangement/edit/" + courseArrangementId);
                }

            });

        });

        function timestampToTime(timestamp) {
            var time = new Date(timestamp);
            var year = time.getFullYear();
            var month = (time.getMonth() + 1) > 9 && (time.getMonth() + 1) || ('0' + (time.getMonth() + 1));
            var date = time.getDate() > 9 && time.getDate() || ('0' + time.getDate());
            var hour = time.getHours() > 9 && time.getHours() || ('0' + time.getHours());
            var minute = time.getMinutes() > 9 && time.getMinutes() || ('0' + time.getMinutes());
            var second = time.getSeconds() > 9 && time.getSeconds() || ('0' + time.getSeconds());
            return year + '-' + month + '-' + date + ' ' + hour + ':' + minute + ':' + second;
        }
    </script>
    <style>

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
            font-size: 14px;
        }

        #box1 {
            display: none;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }

    </style>
</head>
<body>

<div id='calendar'></div>
</body>
</html>
